
#login__content{
    color:white;
    margin-top: 0;    
}
#sdt {
   width: 300px;
   margin-left: 25%;
   margin-top: 20px;
}
#mk{
    width: 300px;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 20px;
}
#__content{
    background:rgba(244, 91, 105, 1);
    height: 500;
}
h1{
    margin-top: 20%;
}
#btn__more{
    margin-bottom: 20px;
}
#content__left{
    background:rgb(157, 91, 244);
}
button:hover{
    background-color: orange;
    transition: 0.5s;
}