
#login__content{
    color:white;
    margin-top: 10%;    
}
#sdt {
   width: 300px;
   margin-left: 15%;
   margin-top: 10px;
}
#mk{
    width: 300px;
    margin-left: 15%;
    margin-top: 10px;
}
#__content{
    background:rgb(157, 91, 244);
    height: 400px;
}
h3{
    margin-top: 20%;
    text-align: center;
}
#btn__more{
    margin-bottom: 20px;
}
#content_left{
    margin-top: 60px;
}
#content__left--bg{
    background:rgba(244, 91, 105, 1);
}
#gioitinh{
    width: 300px;
    margin-left: 15%;
}